# Binaries
bin/
/pgmigrator
*.exe
*.dll
*.so
*.dylib

# Generated SQL files
source-schema-dump-*.sql
drop-unique-*.sql
restore-unique-*.sql

# Test
*.test
*.out

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
pgmigrator.log

# OS
.DS_Store
